.header {
  border-bottom: 1px solid;
  @apply fixed w-screen bg-black py-6 z-50 border-amber-100 bg-opacity-80;
  backdrop-filter: blur(5px);

  &-title {
    @apply font-bold text-4xl;
    &-description {
      @apply text-xs font-normal;
    }
  }

  &-time {
    @apply flex;
    & div:nth-child(2) {
      @apply mx-3;
    }
  }

  &-wrapper {
    @apply flex items-center justify-between;
  }

  &-switcher {
    width: 70px;
    height: 30px;
    border-radius: 50px;

    @apply relative bg-zinc-900 border border-amber-100 mr-10;
    &.on {
      @apply bg-zinc-300 border-zinc-900;
    }
  }

  &-icon {
    @apply absolute top-1/2 left-3 -translate-y-1/2 transition-transform;
    &-active {
      @apply translate-x-7;
    }
  }
}

[data-theme="light"] .header {
  @apply border-zinc-900 bg-white bg-opacity-80;
}

@media (max-width: 1000px) {
  .header {
    &-switcher {
      @apply m-0
    }

    &-time {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .header {
    &-switcher {
      @apply mt-5
    }

    &-wrapper {
      @apply flex-col
    }
  }
}